<br>
<table class="table table-striped">
  <thead>
    <th>Id</th>
    <th>First name</th>
    <th>Last Name</th>
    <th>Operations</th>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.userId }}</td>
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>
        <button class="btn btn-danger" (click)="onDeleteUser(user)">Delete</button>
        <button class="btn btn-primary" routerLink="op">Edit</button>
      </td>
    </tr>
  </tbody>
  <button class="btn btn-primary">New User</button>

</table>
